@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row mb-3">
    <div class="col-md-3">Frist Value</div>
    <div class="col-md-9"><input type="text" id="txtval1" class="form-control"/></div>
</div>
<div class="row">
    <div class="col-md-3">Second Value</div>
    <div class="col-md-9"><input type="text" id="txtval2" class="form-control" /></div>
</div>





<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>